<!-- BANNER-BOX -->
<div class="container-out">
    <div id="banner-box">
        <div id="banner-main">
            <div class="banner-item" style="background-image: url({{root}}assets/img/banner1.jpg);">
                <div class="container-in">
                    <div class="banner-info">
                        <div class="banner-headers">
                            <h1>Lorem ipsum dolor sit.</h1>
                            <h2>Lorem ipsum dolor sit amet</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>