<!-- FOOTER-BOX -->
<div id="footer-box" class="container-out">
    <div id="footer" class="container-in">
        <p>
            Projekt i realizacja: <a href="http://mal.net.pl" target="_blank" class="button3"> mal.net.pl</a>
        </p>
    </div>
</div>