<!-- HEADER-BOX -->
<div class="container-out">
    <header id="header-box" class="container-in">
        <!-- LOGO -->
        <div id="logo">
            <a href="{{root}}index.html"><img src="{{root}}assets/img/logo1.png" alt="logo" /></a>

            <div id="nav-top" class="nav-icon1">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <!-- MENU-BOX -->
        <ul id="menu-box">
            <li class="menu-item" {{#ifpage 'index'}}id="current_page_item"{{/ifpage}}>
                <a href="{{root}}index.html">Strona główna</a>
            </li>
            <li class="menu-item" {{#ifpage 'index2'}}id="current_page_item"{{/ifpage}}>
                <a href="{{#ifpage 'index'}}subpages/{{/ifpage}}index2.html">Firma</a>
            </li>
            <li class="menu-item" {{#ifpage 'index3'}}id="current_page_item"{{/ifpage}}>
                <a href="{{#ifpage 'index'}}subpages/{{/ifpage}}index3.html">Oferta</a>
            </li>
            <li class="menu-item" {{#ifpage 'index4'}}id="current_page_item"{{/ifpage}}>
                <a href="{{#ifpage 'index'}}subpages/{{/ifpage}}index4.html">Technologia</a>
            </li>
            <li class="menu-item" {{#ifpage 'index5'}}id="current_page_item"{{/ifpage}}>
                <a href="{{#ifpage 'index'}}subpages/{{/ifpage}}index5.html">Aktualności</a>
            </li>
            <li class="menu-item" {{#ifpage 'index6'}}id="current_page_item"{{/ifpage}}>
                <a href="{{#ifpage 'index'}}subpages/{{/ifpage}}index6.html">Kontakt</a>
            </li>
        </ul>
    </header>
</div>