<!-- OTHER-BOX -->
<div id="other-box" class="container-out">
    <div id="other" class="container-in">
        <!-- QUESTION-BOX -->
        <div id="question-box" class="other-item">
            <!-- QUESTION-LEFT -->
            <div id="question-left" class="question-item">
                <h3><strong>Masz</strong> Pytania?</h3>
            </div>

            <!-- QUESTION-RIGHT -->
            <div id="question-right" class="question-item">
                <a href="tel:+48500133001">
                    (+48)<strong> 500 133 001</strong>
                </a>

                <a href="mailto:wilktransport@biuro.pl">
                    wilktransport@biuro.pl
                </a>
            </div>
        </div>

        <!-- COPY-BOX -->
        <div id="copy-box" class="other-item">
            <p>
                &copy; copyright 2015 <a href="#"> nazwadomeny.pl</a>
            </p>
        </div>

        <div class="clean"></div>
    </div>
</div>