<!-- SLIDER-BOX -->
<div class="container-out">
    <div id="slider-box">
        <div id="arrow-next" class="slider-arrow"><img src="{{root}}assets/img/arrow-next.png" alt="arrow" /></div>
        <div id="arrow-prev" class="slider-arrow"><img src="{{root}}assets/img/arrow-prev.png" alt="arrow" /></div>

        <div id="slider-main">
            <div class="slider-item" style="background-image: url({{root}}assets/img/slider1.jpg);">
                <div class="container-in">
                    <div class="slider-info">
                        <div class="slider-headers">
                            <h1>Lorem ipsum dolor sit.</h1>
                            <h2>Lorem ipsum dolor sit amet</h2>
                        </div>
                        <a href="#" class="button4">
                            <img src="{{root}}assets/img/button4.png" alt="plus" />
                        </a>
                    </div>
                </div>
            </div>

            <div class="slider-item" style="background-image: url({{root}}assets/img/slider2.jpg);">
                <div class="container-in">
                    <div class="slider-info">
                        <div class="slider-headers">
                            <h1>Lorem ipsum dolor sit.</h1>
                            <h2>Lorem ipsum dolor sit amet</h2>
                        </div>
                        <a href="#" class="button4">
                            <img src="{{root}}assets/img/button4.png" alt="plus" />
                        </a>
                    </div>
                </div>
            </div>

            <div class="slider-item" style="background-image: url({{root}}assets/img/slider3.jpg);">
                <div class="container-in">
                    <div class="slider-info">
                        <div class="slider-headers">
                            <h1>Lorem ipsum dolor sit.</h1>
                            <h2>Lorem ipsum dolor sit amet</h2>
                        </div>
                        <a href="#" class="button4">
                            <img src="{{root}}assets/img/button4.png" alt="plus" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>