<!-- SIDE-BOX -->
<aside id="side-box" class="content-item">
    <nav class="menu-box">
        <h3>Menu</h3>

        <ul>
            <li>
                <a href="#" class="button5">Lorem ipsum dolor sit amet.</a>
            </li>
            <li>
                <a href="#" class="button5">Lorem ipsum dolor.</a>
            </li>
            <li>
                <a href="#" class="button5">Lorem ipsum dolor sit amet, consectetur.</a>
            </li>
            <li>
                <a href="#" class="button5">Lorem ipsum dolor sit amet.</a>
            </li>
            <li>
                <a href="#" class="button5">Lorem ipsum dolor sit amet, consectetur.</a>
            </li>
            <li>
                <a href="#" class="button5">Lorem ipsum dolor sit amet, consectetur.</a>
            </li>
            <li>
                <a href="#" class="button5">Lorem ipsum dolor sit.</a>
            </li>
        </ul>
    </nav>
</aside>