<!-- CONTENT-BOX -->
<div class="container-out">
    <div id="content-box" class="container-in">
        <!-- SECONDARY-BOX -->
        <div id="about-secondary-box" class="content-item">
            <h3><strong></strong>Firmia</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente repellat maxime eligendi dignissimos nisi aperiam omnis incidunt expedita voluptatem, maiores facere rem rerum ut ab sint animi quae libero nostrum, suscipit amet doloribus quisquam quam culpa magni. Magnam quo illo, ut excepturi cum laborum laudantium commodi porro ducimus atque quam nemo earum sapiente doloribus non beatae repudiandae voluptates dicta vero esse. Id velit libero nobis alias consequuntur eaque, quidem deserunt mollitia obcaecati ullam sint aut totam porro illo labore eum. Libero possimus eligendi perspiciatis, deleniti reprehenderit consequatur enim doloribus facilis cum molestiae amet ullam dignissimos quo sapiente. Sunt, temporibus corporis.
                <br/> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil deleniti modi molestias autem provident harum! Quis expedita sed libero quaerat nulla tempora, nobis, tempore eveniet eum voluptatem quasi nesciunt ducimus deserunt. Iste repellat cum quaerat assumenda, aspernatur animi facere, quod modi nostrum! Saepe unde quos velit sunt dolorem eum ut?
                <br/>
                <br/>

                <strong>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum accusantium doloremque molestiae sunt, ea beatae, repudiandae quod molestias, a sit voluptatem et eos? Cum, eos quidem. Incidunt nulla tempore saepe voluptatem expedita beatae explicabo facere, nam, ducimus accusamus, reiciendis voluptatum, repellat ipsam ex debitis quisquam. Blanditiis architecto, officiis id enim.
                </strong>
                <br/>
                <br/> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima porro sint nam perspiciatis eos nesciunt officiis, quisquam, beatae soluta quis quaerat cum deleniti iusto sunt. Nemo ab ipsa quaerat, molestiae rerum. Rerum sit enim quo sint repellendus, hic voluptatum ut necessitatibus consequatur officia voluptates harum architecto! Eveniet quaerat in eius rem pariatur doloribus, voluptates omnis odio at quos vel aliquid, ut voluptatibus porro magnam! Ipsum laudantium magni repellendus eaque eveniet perferendis enim culpa, fuga ut molestiae minima quia excepturi iure voluptatem quaerat nulla modi deserunt a at mollitia facilis dignissimos debitis earum quod dolorum. Repudiandae ea, iste minus nisi aspernatur.
            </p>
        </div>

        {{> aside}}

        <div class="clean"></div>
    </div>
</div>