<!-- CONTENT-BOX -->
<div class="container-out">
    <div id="content-box" class="container-in">
        <!-- ABOUT-BOX -->
        <div id="about-box" class="content-item">
            <h3><strong>O naszej</strong> Firmie</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti delectus ad, rem eius reiciendis ipsam ex quod labore qui numquam!
                <br/>

                <strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, consectetur!</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, inventore.

                <a href="subpages/index2.html" class="button1">czytaj więcej+</a>
            </p>
        </div>

        <!-- NEWS-BOX -->
        <div id="news-box" class="content-item">
            <h3><strong>Nasze</strong> Aktualności</h3>

            <!-- NEWS -->
            <div id="news">
                <!-- NEWS-ITEM -->
                <div class="news-item">
                    <div class="news-date">12 styczeń</div>
                    <h5>Lorem ipsum dolor sit.</h5>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit ab id veritatis quaerat veniam, suscipit repudiandae illum non. Nesciunt iusto distinctio asperiores unde excepturi, aut, hic culpa magni placeat. Perspiciatis, eius. Velit beatae, laudantium aliquid debitis mollitia. Quasi eveniet, iure aut consequuntur rem ad. Veniam perferendis quaerat, odio, ea corporis consequatur voluptas magnam. Aut dignissimos aperiam veritatis officiis consequuntur adipisci, dolorem eaque doloremque omnis fugit enim nesciunt magni saepe, aspernatur eos. Molestiae tempora possimus nulla consectetur placeat nam error omnis perspiciatis libero assumenda, dolor vero iste facilis ab, consequuntur quidem. Sequi aliquam eum esse laborum odit, illo porro animi sit, tenetur sint cumque molestiae vero optio quas. Molestiae ullam eum iusto quo rerum tempore, magnam, nam fuga tenetur fugit deleniti repellendus amet nisi, numquam repudiandae nihil accusantium fugiat delectus sed quisquam, nostrum aliquam provident ducimus dicta. Dolore modi ipsam pariatur tempore obcaecati iusto laboriosam, facilis laborum esse repellendus temporibus harum sint accusamus veritatis asperiores, quibusdam architecto quisquam saepe, assumenda dolorem cupiditate incidunt laudantium ullam? Reiciendis pariatur cum asperiores placeat aperiam maiores magni dolorem dicta dolorum quis inventore necessitatibus quisquam eligendi, quibusdam dolores quo rem animi obcaecati sed laboriosam aspernatur natus. Nobis hic illum tempore, dicta? Maxime doloremque, reprehenderit adipisci iusto?
                    </p>
                    <a href="subpages/index5.html" class="button3">czytaj więcej+</a>
                </div>

                <!-- NEWS-ITEM -->
                <div class="news-item">
                    <div class="news-date">12 styczeń</div>
                    <h5>Lorem ipsum dolor sit.</h5>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni nemo distinctio veniam illo, tempore recusandae totam ipsam consequuntur similique quam repellendus nulla ipsum, veritatis minus nam. Totam deleniti aperiam neque reiciendis dignissimos hic exercitationem adipisci maiores repellat nihil asperiores modi, accusamus ea libero facere amet fuga consequuntur quas iste, quaerat, corporis minus aliquid quae laudantium earum. Veniam voluptates officia dolores. Molestias atque possimus provident, explicabo, eos, modi totam sit rem eaque quam dolorem. Nostrum tempora repellat dignissimos vitae optio quae iusto qui ut facilis aspernatur! Veniam assumenda sit quas, repudiandae aut harum rem optio, reiciendis velit mollitia voluptates repellat quidem praesentium! Ad veritatis pariatur, illo eos corporis commodi maxime unde quam sunt perferendis dignissimos optio soluta sit, architecto eius, modi quis doloremque id fugit odit assumenda officiis quo. Rerum facere, beatae nulla earum dicta voluptatum rem reiciendis temporibus. Praesentium pariatur omnis ea aspernatur laudantium rem nostrum dolorum, illo veniam quaerat autem, numquam quo nam fugiat ratione dignissimos inventore qui error unde doloremque quam maiores. Odit nisi praesentium rem quas at quia beatae deserunt dolores architecto quae cum modi odio quam sit aliquid ea exercitationem, eius maxime, ipsam! Dolores pariatur, molestias esse sint, doloribus commodi at corporis dicta nam ipsum velit.
                    </p>
                    <a href="subpages/index5.html" class="button3">czytaj więcej+</a>
                </div>

                <div class="clean"></div>
            </div>
        </div>

        <div class="clean"></div>
    </div>
</div>