<!-- CONTENT-BOX -->
<div class="container-out">
    <div id="content-box" class="container-in">
        <!-- SECONDARY-BOX -->
        <div id="about-secondary-box" class="content-item">
            <h3><strong></strong>Kontakt</h3>

            <div id="form-box">
                <form method="post" action="">
                    <input name="name" type="text" placeholder="Imie" pattern="([a-zA-Z]{3,30})" />
                    <input name="subname" type="text" placeholder="Nazwisko" pattern="([a-zA-Z]{3,30})" />
                    <input name="tel" type="tel" placeholder="Telefon" />
                    <input name="email" type="email" placeholder="E-mail" />
                    <textarea name="message" placeholder="Twoja wiadomość"></textarea>
                    <input value="Wyślij" type="submit" />
                </form>
            </div>
        </div>

        {{> aside}}

        <div class="clean"></div>
    </div>
</div>