.nav-icon1
  width: 40px
  height: 33px
  position: relative
  transform: rotate(0deg)
  transition: 0s ease-in-out
  cursor: pointer

.nav-icon1:before
  content: ""

.nav-icon1 span, .nav-icon3 span, .nav-icon4 span
  border-radius: 0
  display: block
  position: absolute
  height: 9px
  width: 100%
  background: $color3
  opacity: 1
  left: 0
  transform: rotate(0deg)
  transition: 0.3s ease-in-out

.nav-icon1
  span
    &:nth-child(1)
      top: 0px
    &:nth-child(2)
      top: 12px
    &:nth-child(3)
      top: 24px
  &.open span
    &:nth-child(1)
      top: 12px
      transform: rotate(135deg)
    &:nth-child(2)
      opacity: 0
      left: -60px
    &:nth-child(3)
      top: 12px
      transform: rotate(-135deg)