@charset "UTF-8"

/* Slider

.slick-slider
  position: relative
  display: block
  -moz-box-sizing: border-box
  box-sizing: border-box
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  -webkit-touch-callout: none
  -khtml-user-select: none
  -ms-touch-action: pan-y
  touch-action: pan-y
  -webkit-tap-highlight-color: transparent

.slick-list
  position: relative
  display: block
  overflow: hidden
  margin: 0
  padding: 0
  &:focus
    outline: none
  &.dragging
    cursor: pointer
    cursor: hand

.slick-slider
  .slick-track, .slick-list
    -webkit-transform: translate3d(0, 0, 0)
    -moz-transform: translate3d(0, 0, 0)
    -ms-transform: translate3d(0, 0, 0)
    -o-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)

.slick-track
  position: relative
  top: 0
  left: 0
  display: block
  &:before
    display: table
    content: ''
  &:after
    display: table
    content: ''
    clear: both

.slick-loading .slick-track
  visibility: hidden

.slick-slide
  display: none
  float: left
  height: 100%
  min-height: 1px

[dir='rtl'] .slick-slide
  float: right

.slick-slide
  img
    display: block
  &.slick-loading img
    display: none
  &.dragging img
    pointer-events: none

.slick-initialized .slick-slide
  display: block

.slick-loading .slick-slide
  visibility: hidden

.slick-vertical .slick-slide
  display: block
  height: auto
  border: 1px solid transparent

.slick-arrow.slick-hidden
  display: none

/* Slider

.slick-loading .slick-list
  background: #fff url('./img/ajax-loader.gif') center center no-repeat

/* Dots

.slick-dots
  position: absolute
  display: block
  padding: 0
  list-style: none
  text-align: center
  li
    position: relative
    display: block
    width: 40px
    height: 40px
    margin-bottom: 5px
    padding: 0
    cursor: pointer
    &:last-child
      margin-bottom: 0
    button
      font-size: 18px
      line-height: 14px
      display: block
      width: 40px
      height: 40px
      padding: 5px
      cursor: pointer
      color: rgba(0, 0, 0, 0.5)
      border-radius: 50%
      border: none
      outline: none
      background: transparent
      &:hover, &:focus
        outline: none
      &:hover:before, &:focus:before
        opacity: 1
      &:before
        font-family: 'slick'
        font-size: 6px
        line-height: 20px
        position: absolute
        top: 0
        left: 0
        width: 20px
        height: 20px
        content: ""
        text-align: center
        opacity: .25
        color: black
        -webkit-font-smoothing: antialiased
        -moz-osx-font-smoothing: grayscale
    &.slick-active button:before
      opacity: .75
      color: black