{{!-- This is the base layout for your project, and will be used on every page. --}}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600,900,300,700&amp;subset=latin-ext" />
    <link rel="shortcut icon" href="{{root}}assets/img/favicon.ico" />
    <link rel="stylesheet" href="{{root}}assets/css/app.css" />

    <title>{{title}}</title>

    <script>
      window.addEventListener("load", function () {
        var e = document.getElementById("load-box");
        document.body.removeChild(e);
      });
    </script>
  </head>
  <body>

    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}

    {{> body}}

    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>