//region BROWSERS BUGS
*
  -webkit-tap-highlight-color: transparent

*:active,
*:focus
  -moz-outline: none
  outline: none
  -webkit-tap-highlight-color: transparent

//endregion
//region MY SELECTIONS
*::selection
  +colors(background-color $color2 color $color3)

.slider-arrow::selection
  +colors(background-color transparent color $color1)

//endregion

//region CONTAINERS
.container-out
  +relative()

.container-in
  +relative()
  margin: 0 20px
  +PC_MIN
    +size(width 960px)
    margin: auto

//endregion
//region CLEANERS
.clean
  clear: both

//endregion
//region LOAD-BOX
#load-box
  background-color: $color1
  height: 100%
  width: 100%
  position: fixed
  z-index: 1000
  margin-top: 0px
  top: 0px

#loading-center
  width: 100%
  height: 100%
  position: relative

#loading-center-absolute
  position: absolute
  left: 50%
  top: 50%
  height: 50px
  width: 150px
  margin-top: -25px
  margin-left: -75px

.object
  width: 8px
  height: 50px
  margin-right: 5px
  background-color: $color2
  border-radius: 10px
  animation: animate 1s infinite
  float: left
  &:last-child
    margin-right: 0px
  &:nth-child(10)
    animation-delay: 0.9s
  &:nth-child(9)
    animation-delay: 0.8s
  &:nth-child(8)
    animation-delay: 0.7s
  &:nth-child(7)
    animation-delay: 0.6s
  &:nth-child(6)
    animation-delay: 0.5s
  &:nth-child(5)
    animation-delay: 0.4s
  &:nth-child(4)
    animation-delay: 0.3s
  &:nth-child(3)
    animation-delay: 0.2s
  &:nth-child(2)
    animation-delay: 0.1s

@-webkit-keyframes animate
  50%
    transform: scaleY(0)


@keyframes animate
  50%
    transform: scaleY(0)

//endregion
//region BODY, MAIN
body
  +font(family $font1)
  +size(min-height 1010px)
  &:before
    +absolute(top 2px left 0)
    +block
    +size(width 100% height 1px)
    background: $color2
    content: ""
    z-index: 1000

#main
  +relative()
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0, rgba(255,255,255,1) 0, rgba(252,252,252,1) 0, rgba(245,245,245,1) 111.1px, rgba(243,245,248,1) 232.2px, rgba(239,242,248,1) 282.8px, rgba(228,233,243,1) 363.6px, rgba(255,255,255,1) 565.6px, rgba(255,255,255,1) 1010px)
  z-index: 100

//endregion

//region HEADLINES
h1
  +font(size 21px weight 200)
  +uppercase
  color: $color1
  +TAB_MIN
    +font(size 25px)
  +PC_MIN
    +font(size 29px)

h2
  +font(size 32px weight 700)
  +uppercase
  color: $color3
  +TAB_MIN
    +font(size 36px)
  +PC_MIN
    +font(size 40px)

h3
  +font(size 30px weight 300)
  color: $color2

  strong
    +font(size 18px weight 600)
    +uppercase
    color: $color3

h4
  +font(size 22px)
  color: $color3

h5
  +font(family $font2 size 13px weight 700)

p
  +font(family $font2 size 12px)
  line-height: 18px
  color: $color7

  strong
    +font(weight 700)

//endregion
//region BUTTONS
.button1
  +flex(align-items center justify-content center)
  +colors(background-color $color2 color $color1)
  +font(size 13px)
  +relative()
  +transition(0.4s)
  +size(height 24px width 110px)
  +text-center
  border-radius: 5px
  overflow: hidden
  z-index: 1
  +PC_MIN
    &:after
      +absolute(top 0% right -100%)
      +size(height 100% width 100%)
      +transition(0.4s)
      background: $color3
      content: ""
      opacity: 0.2
      z-index: -1
    &:hover
      &:after
        +absolute(right 0)
        opacity: 1

.button3
  +relative()
  +inline-block
  +font(size 12px weight 400)
  +transition(0.7s)
  color: $color2
  margin: 0 !important
  padding: 0 !important
  line-height: 12px !important
  +PC_MIN
    &:after
      +absolute(bottom -20px right -10% left -10%)
      +transition(0.4s)
      background: $color3
      border-radius: 5px
      content: ""
      opacity: 0
      pointer-events: none
      padding: 10px 0
      z-index: -1
    &:hover
      color: $color1 !important
      &:after
        +absolute(bottom -5px)
        opacity: 1

.button4
  +flex(align-items center justify-content center)
  +size(min-height 60px width 100%)
  background: linear-gradient(to bottom, rgba(242,244,247,1) 0%, rgba(237,240,245,1) 1%, rgba(236,239,244,1) 5%, rgba(236,239,245,1) 23%, rgba(228,233,242,1) 68%, rgba(226,232,241,1) 100%)
  border-radius: $border-radius
  +TAB_MIN
    +size(min-height 120px width 160px)

.button5
  +font(size 14px weight 600)
  +relative()
  border-radius: 5px
  color: $color1
  overflow: hidden
  padding: 10px 15px
  +PHONE_ONLY
    padding: 15px
  +PC_MIN
    z-index: 1
    &:after
      +absolute(top -100% left -100%)
      +block
      +size(width 100% height 100%)
      +transition(0.4s)
      background: $color1
      content: ""
      opacity: 0
      z-index: -1
    &:hover
      +transition(1s)
      color: $color3
      &:after
        top: 0
        left: 0
        opacity: 1

//endregion

//region HEADER-BOX
#header-box

  +PC_MIN
    +flex(align-items stretch justify-content space-between)
    +padding(top 20px bottom 20px)
    z-index: 50

  #logo
    +flex(align-items center justify-content space-between)
    +TAB_MAX
      +size(height 90px)

    img
      +padding(top 6px)

    #nav-top
      +pointer
      +PC_MIN
        +hide

//endregion
//region MENU-BOX
#menu-box
  +flex(flex-direction column)
  +hide
  z-index: 20
  +TAB_MAX
    +absolute(right -20px)
    +size(width 180px)
    background: $color8
    border-bottom-left-radius: $border-radius
    border-bottom-right-radius: $border-radius
  +PC_MIN
    +flex-imp(align-items center flex-direction row)
    +relative()
    border-bottom: 1px solid $color4

  a
    +block
    +font(size 16px weight 600)
    color: $color5
    padding: 20px
    +PC_MIN
      +inline-block
      +transition(1s)
      padding: 35px 10px

      &.active
        color: $color1

//endregion
//region MAGIC-LINE
#magic-line
  +hide
  +PC_MIN
    +absolute(top 12px)
    +block
    +size(height 112px min-width 50px)
    background: url("../img/menu-dot.png") no-repeat scroll center 68px
    background-color: $color6
    border-radius: $border-radius
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.09)
    pointer-events: none
    z-index: -1

.ie6 #example-one li,
.ie7 #example-one li
  display: inline

.ie6 #magic-line
  bottom: -31px

//endregion

//region SLIDER-BOX
#slider-box
  +relative()
  +PC_MIN
    +size(max-width 960px)
  +MIN(1200px)
    +size(max-width 1060px)

  .slider-arrow
    +absolute(bottom 32px right 0px)
    +pointer
    padding: 0 18px
    z-index: 10
    +PC_MIN
      +absolute(right -7px)
      +transition(0.2s)
      &:hover
        img
          opacity: 0.3

  #arrow-prev
    +absolute(right 45px)
    +PC_MIN
      &:after
        +absolute(right 0 top -4px)
        +inline-block
        +size(width 1px height 35px)
        background: $color13
        content: ""

  .slick-dots
    +TAB_MAX
      +absolute(left 20px bottom 26px)

    li
      +TAB_MAX
        +inline-block
        margin-bottom: 0

      &.slick-active
        button
          color: $color1
          background: $color2

      button
        +PC_MIN
          +relative()
          +transition(0.7s)
          overflow: hidden
          z-index: 20
          &:after
            +block
            +absolute(top -100% left -100%)
            +size(height 100% width 100%)
            +transition(0.4s)
            border-radius: 50%
            background: $color2
            content: ""
            opacity: 1
            z-index: -1
          &:hover
            +transition(0.7s)
            color: $color1
            &:after
              +absolute(top 0 left 0)
              opacity: 1

//endregion
//region SLIDER-ITEM
.slider-item
  +background(position center size cover)
  +relative()
  border-bottom: 11px solid $color12
  border-radius: $border-radius
  +MIN(1200px)
    +size(max-width 1060px)

  .container-in
    +size(height 420px)
    +TAB_MAX
      +flex(align-items center justify-content flex-end)
    +PC_MIN
      +size(height 463px max-width 960px)
      margin: 0

  .slider-info
    +flex(flex-direction column)
    background-color: $color12
    border-radius: $border-radius
    padding: 5px
    +PHONE_ONLY
      +size(width 100%)
    +TAB_MIN
      +flex(align-items stretch flex-direction row)
    +PC_MIN
      +absolute(top 125px right -5px)

  .slider-headers
    +text-right
    margin: 20px
    +TAB_MIN
      margin: 27px

//endregion

//region CONTENT-BOX
#content-box
  +margin(top 20px bottom 20px)
  z-index: 10
  +MIN(1020px)
    width: 960px
    margin: 35px auto

  .content-item
    +size(min-height 150px)
    box-sizing: border-box

    h3
      margin-bottom: 20px
      +PC_MIN
        margin-bottom: 35px

//endregion

//region ABOUT-BOX
#about-box
  +TAB_MIN
    +left
    +padding(right 40px)
    +size(width 50%)
  +PC_MIN
    +padding(right 60px)
    +size(width 453px)
    margin-top: -93px

  .button1
    margin-top: 20px
    +PC_MIN
      margin-top: 35px

//endregion

//region NEWS-BOX
#news-box
  margin-top: 20px
  +TAB_MIN
    +left
    +size(width 50%)
    margin-top: 0
  +PC_MIN
    +size(width calc(100% - 453px))

  .news-item
    flex: 1
    +PHONE_ONLY
      &:nth-child(1)
        padding-bottom: 20px
    +TAB_MIN
      +left
      +size(width 50%)
      box-sizing: border-box
      &:nth-child(1)
        padding-right: 20px

      &:nth-child(2)
        padding-left: 20px

    .news-date
      +font(size 13px)
      color: $color7

    h5
      margin: 10px 0

    p
      +inline
      margin-bottom: 10px

//endregion

//region OTHER-BOX
#other-box
  background: $color8
  border-top: 1px solid #f6f6f7
  border-bottom: 1px solid #f6f6f7
  z-index: 10
  &:before
    +block
    +relative(bottom 2px)
    +size(width 100% height 1px)
    background: #c6c6c6
    content: ""
  &:after
    +block
    +relative(top 2px)
    +size(width 100% height 1px)
    background: #c6c6c6
    content: ""
  +TAB_MAX
    +margin(top 20px)

  #other
    +text-center
    +PHONE_ONLY
      padding: 20px 0
    +MIN(1020px)
      +size(width 960px)
      margin: auto

  .other-item
    +TAB_MIN
      +flex(align-items center)
      +size(height 112px)
      padding: 0

//endregion
//region QUESTION-BOX
#question-box
  background: $color2
  border-radius: 10px
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.09)
  +PHONE_ONLY
    margin-bottom: 20px
  +TAB_MIN
    +padding(bottom 0)
    +right
    +size(width 50%)
    margin-top: -10px
  +PC_MIN
    +size(width calc(100% - 453px))

//endregion
//region QUESTION-ITEM
.question-item
  +size(height 89px)
  +text-center
  padding: 0 10px
  box-sizing: border-box
  +TAB_MIN
    +size(width 50%)
  +PC_MIN
    padding: 0 10px

#question-left
  +flex(align-items center justify-content center)
  border-bottom: 1px solid $color9
  +TAB_MIN
    border-right: 1px solid $color9
    border-bottom: none

  h3
    color: $color1
    +PHONE_ONLY
      +font(size 39px)
    +PC_MIN
      +font(size 36px)

#question-right
  +flex(align-items center justify-content center flex-direction column)
  border-top: 1px solid $color10
  +TAB_MIN
    border-left: 1px solid $color10
    border-top: none

  a[href^="tel"]
    +font(size 14px)
    color: $color1

    strong
      +font(size 20px)
      +PC_MIN
        +font(size 28px)

  a[href^="mailto"]
    +font(size 14px weight 700)
    margin-top: 10px
    +TAB_MIN
      margin-top: 3px
    +PC_MIN
      +font(size 18px)


//endregion
//region COPY-BOX
#copy-box
  +TAB_MIN
    +right
    +size(width 50%)
  +PC_MIN
    +size(width 453px)

//endregion

//region FOOTER-BOX
#footer-box
  +text-right
  box-sizing: border-box
  padding: 20px 0
  z-index: 10

//endregion

//region BANNER-BOX
#banner-box
  +relative()
  +PC_MIN
    +size(max-width 960px)

//endregion
//region BANNER-ITEM
.banner-item
  +background(position center size cover)
  +relative()
  border-radius: $border-radius

  .container-in
    +size(height 200px)
    +MIN(1020px)
      +size(width 960px)
      margin: auto
    +PC_MIN
      +size(height 270px width 960px)
      margin: 0

  .banner-info
    +absolute(bottom 0 right 0px)
    +size(width 100%)
    background-color: $color12
    +TAB_MAX
      border-radius: $border-radius

  .banner-headers
    +text-right
    box-sizing: border-box
    padding: 15px


//endregion

//region ABOUT-SECONDARY-BOX
#about-secondary-box
  box-sizing: border-box
  +TAB_MIN
    +left
    +padding(right 40px)
    +size(width 69.8%)
  +PC_MIN
    +padding(right 60px)

//endregion

//region NEWS-AREA
.news-area

  img
    +size(width 200px)
    border-radius: 20px

//endregion

//region SIDE-BOX
#side-box
  box-sizing: border-box
  margin-top: 20px
  +TAB_MIN
    +left
    +size(width 30.2%)
    margin-top: 0

  .menu-box
    margin-bottom: 40px
    ul
      +relative()
      background: $color2
      border: 1px solid $color14
      border-top-left-radius: 10px
      border-top-right-radius: 10px
      border-bottom-left-radius: 10px
      padding: 10px
      &:after
        +absolute(bottom -21px right -1px)
        +block
        +size(width 40% height 20px)
        background: $color2
        border-bottom: 1px solid $color14
        border-left: 1px solid $color14
        border-right: 1px solid $color14
        border-bottom-left-radius: 10px
        border-bottom-right-radius: 10px
        content: ""


      .button5
        +block

//endregion

//region PC-BACKGROUND-MAIN
#pc-background-main
  +hide
  +PC_MIN
    +absolute(top 0px left 0 right 0)
    +block
    +background(image url(../img/pc-main.png) position center repeat no-repeat)
    +size(height 930px)
    pointer-events: none
    z-index: 2

//endregion
//region PC-BACKGROUND-SECONDARY
#pc-background-secondary
  +hide
  +PC_MIN
    +absolute(top 0 left 0 right 0)
    +block
    +background(image url(../img/pc-secondary.png) position center repeat no-repeat)
    +size(height 980px)
    pointer-events: none
    z-index: 2

//endregion

//region CONTENT-NEWS-BOX
#content-news-box
  padding-bottom: 30px

  .slick-list
    height: 535px !important
    overflow: hidden

  .slick-dots
    +absolute(bottom -35px)

    li
      +inline-block
      +size(height 10px width 30px)
      margin-bottom: 0
      margin-right: 5px

      button
        +size(height 10px width 30px)
        &:before
          +size(height 10px width 30px)
          background: $color2
          border-radius: 5px

//endregion
//region CONTENT-NEWS-ITEM
$minWidth1: 500px
$minHeight1: 150px

.content-news-item
  margin-bottom: 40px
  width: auto !important

  >div[style*=background]
    +MIN($minWidth1)
      +background(size cover position center)
      +left
      +size(width 150px height $minHeight1)
      border-radius: 10px

//endregion
//region CONTENT-NEWS-INFO
.content-news-info
  +relative()
  +size(height $minHeight1)
  +MIN($minWidth1)
    +left
    margin-left: 30px
    overflow: hidden

  h1
    +font(size 18px weight 600)
    color: $color3

  p
    +size(max-width 250px)
    margin-top: 20px

  .button1
    +absolute(bottom 0)
    +PC_MIN
      +transition(0.4s)
      opacity: 0
      transform: translate(0, -200px)
      &.showing
        opacity: 1
        transform: translate(0, 0)


//endregion

//region FORM-BOX
#form-box
  +relative()

//endregion
//region FORM
form
  margin: auto

  input, textarea
    +block
    +colors(background-color $color8 color $color3)
    +size(width 92%)
    +font(size 16px weight 400)
    border: none
    border-radius: 10px
    margin: 10px auto
    padding: 15px 4%

  input[type*=submit]
    +colors(background-color $color2 color $color1)
    +size(height 60px width 100%)
    +pointer

  input
    +size(height 20px)

  textarea
    +size(height 60px)
    resize: none
    overflow: auto

//endregion